.StartContainer{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.start1{
    text-align: left;
    margin-top: 10%;
    font-size: 22px;
    color: white;
    margin-left: 40px;
    float: left;
    width: 50%;


}

.start1 p{
    font-size: 18px;
}

.RedesIcon{
    display: flex;
    flex-direction: row;
}
.RedesIcon p{
    margin-right: 20px;
}

.icon{
    height: 205px;
    color:red
}


.StartImg{
    height: 450px;
    margin-top: 4%;
    margin-left: 4%;
    float: right;



}
.start2{
    margin-left: 10% ;

    
}




/* .text1{
} */

.ColorText{
    color:#4fd1c5;
    font-weight: bold;

}

.LogoText{
    color: #4fd1c5 !important;
}




.SobreContainer{
    text-align: center;
    color:#319795;
    font-size: 20px;
    margin-bottom: 50px !important;
    width: 100% !important;
    position: relative;
    float: left;
    padding: 5%;

}

.SobreContainer p{
    color:#718096;
    font-size: 18px;
    padding: 3%;
}
@media only screen and (max-width: 768px) {
    body{
        margin:0;
        padding: 0;

    }
    .StartContainer{
        display: flex;
        padding: 20px;
        flex-direction: column;
        padding: 0;
        
    }

    .start1{
        width: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    

    .StartImg{
        margin-top: 0px !important;
        height: 350px;
        float: left;
        margin-left: auto;
        margin-right: auto;
    
    
    
    }
}


/* @media only screen and (max-width: 768px) {
    .StartContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    
        
    }


    .start1 {
        text-align: center;
        margin-top: 0px !important;
        width: 100% !important;
        padding: 0px !important;
        float: left;

      }
  
  
      .start1 p{
          text-align: center;
          margin-bottom: 0px;
      }


      .start2{
        border: red solid 1px;
        display: flex;
        justify-content: center;
        width: 200px;


      }
     
      .StartImg{
        align-items: center !important;
        border: red solid 1px;
      } */

      
  

/* @media (min-width: 800px) and (max-width: 1080px)  {
    .start1{
        text-align: left;
        margin-top: 10%;
        font-size: 18px;
        color: white;
        margin-left: 40px;
        float: left;
        width: auto;
    }
    .start2{
        margin:0 !important;
        display: block;
    }
} */



  @media (min-width: 1920px) and (max-width: 2560px)  {
    .start1 {
        text-align: left;
        height: 495px !important;
        margin-left: 12%;
        font-size: 2em;

      }
  
      .start1 p{
          text-align: left;
          font-size: 20px;
      }

      .StartImg{
        width: 95%;
        height: auto;
        margin-top: 12% !important;

      }
  
      .SobreContainer{
          margin-top: 20px;
          text-align: center;
          color:#319795;
          font-size: 2em;
      }
     
      
      .SobreContainer p{
          color:#718096;
          font-size: 18px;
          padding: 3%;
          
      }

  }




.CompContainer{
    width: 100%;
    color: white;
    border-radius: 7%;
    display: flex;
    text-align: center;

}



.Comp1{
    width: 50%;
    background-color: #319795;
    float: left;
    height: 400px;
    padding: 7%;
    color:#d3d3d3;


    -webkit-transition: width 1s;
    transition: width 1s;

    
    
}

.Comp2{
    width: 50%;
    background-color: #273238;
    float: left;
    height: 400px;
    padding: 7%;
    -webkit-transition: width 1s;
    transition: width 1s;

    color:#d3d3d3;

    
}

.Comp1:hover{
    width: 70%;
    color: white;


    

}

.CompContainer p{
    color: white !important;
}

.Comp1:hover ~ .Comp2{
    width:30% !important;
}


.Comp2:hover{
    width: 100%;
    color: white;
    
 
}


.Comp2:hover + .Comp1{
    width: 20% !important;
    float: left;
   
}



.ProjectContainer h1{
    color: #319795;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.ProjectContainer{
    margin-bottom: 0px;
    height: 100%;
    padding: 5%;
}

.ExpContainer{
    color: #319795;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    display: block;
    flex-wrap: wrap;
    align-content: center;
}


@media only screen and (max-width: 768px) {

}






