.light-theme {
  background-color: #fff;
  color: #444444;

}
.light-theme p{
  color:#444444 !important;
}

.light-theme h1{
  color:#319795;
}
.light-theme h2{
  color:#444444 !important;
}
.light-theme h3{
  color:#444444 !important; 
}



.dark-theme {
  background-image: linear-gradient(to right,#232526, #414345);
  color: #f8f8f8;
  height: 100%;
}

.dark-theme h1{
  color: #4fd1c5;
}
.dark-theme p{
  color: white !important;
}